list1/demo.png
list1/list1.zip
list3/rozwiazania
list3/wyklad
list3/*.zip
list4/*.zip
list4/rozwiazania
list4/wyklad
list5/wyklad
list5/rozwiazania
list5/*.zip
list6/wyklad
list6/*.zip
list3/cwiczenia
